<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자동차등록/삭제</title>
    <link rel="stylesheet" href="/css/common/font.css">
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/util.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/fontawesome.css">
    <link rel="stylesheet" href="/css/carSettings/carSettings.css">
    <link rel="stylesheet" href="/css/components/modals/modal-m.css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
</head>

<body>
    <div id="GGSH-toast-container-component">
        <div class="ToastContainer_container">
            <div class="Toast_container">
                <div id="toast1" class="Toast_content">차량등록 완료 했습니다.</div>
                <div id="toast2" class="Toast_content">차량변경 완료 했습니다.</div>
                <div id="toast3" class="Toast_content">차량 삭제 완료되었습니다..</div>
            </div>
        </div>
    </div>
    <div id="main-app" class="page-wrapper">
        <header class="Header_container Header_sticky">
            <div class="Header_content">
                <div class="Header_left">
                    <a href="/profile/settings" class="StyledComponent_container">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon" style="height: 24px; width: 24px;">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.076 2.576l.848.848L8.35 12l8.575 8.576-.848.848L6.65 12l9.425-9.424z" fill="#495057"></path>
                        </svg>
                    </a>
                </div>
                <div class="Header_center" style="max-width: calc(-160px + 100vw);">
                    <h1 class="StyledComponent_container Title_container Title_center">차량 등록 관리
                    </h1>
                </div>
                <div class="Header_right">
                    <a class="StyledComponent_container" aria-label="홈으로 가기" href="/main">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon" style="height: 24px; width: 24px;">
                            <path d="M21.6 7.679l-9.6-6.4-9.6 6.4V21h1.2V8.321l8.4-5.6 8.4 5.6V21h1.2V7.679z" fill="#495057"></path>
                            <path d="M15.6 21v-8.6H8.4V21h1.2v-7.4h4.8V21h1.2z" fill="#495057"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </header>

        <main>
            <div class="MySimplePaySettingApp_container">
                <h2 class="MySimplePaySettingApp_title">차량 정보 관리</h2>
                <div class="MySimplePaySettingApp_column">
                    <div class="MySimplePaySettingApp_simplePayInfo" id="registCardInfo">
                        <div class="SimplePayCard_root">
                            <th:block  th:if="${carDTO != null and carDTO.carStatus.name() == 'ACTIVE'}">
                            <div class="SimplePayCard_container">
                                <div class="SimplePayCard_card_">
                                    <div class="SimplePayCard_left">
                                        <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" width="24">
                                            <circle cx="10" cy="30" r="4" fill="#212529"/>
                                            <circle cx="30" cy="30" r="4" fill="#212529"/>

                                            <rect x="4" y="18" width="32" height="10" rx="2" fill="#00C4C4"/>

                                            <path d="M10 18L14 10H26L30 18H10Z" fill="#00C4C4"/>

                                            <path d="M12 17L15 11H25L28 17H12Z" fill="#fff" fill-opacity="0.6"/>

                                            <rect x="33" y="20" width="3" height="2" rx="0.5" fill="#fff"/>
                                        </svg>
                                    </div>
                                    <div class="SimplePayCard_middle"></div>
                                    <div class="SimplePayCard_right">
                                        <button class="Button_button Button_text Button_md deletbutton" type="button" onclick="carDelete()">
                                            <span><span>삭제</span></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="SimplePayCard_registration">
                                    <div class="SimplePayCard_infoWrap SimplePayCard_registrationDate"><th:block th:text="${carDTO?.carPlateNumber}"></th:block><br></div>
                                    <button class="Button_button Button_mint Button_text Button_sm undefined Vehiclechange" type="button" onclick="modalOpen('carChange')">
                                        <span>
                                            <span>차량변경</span>
                                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon Button_icon">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.924 2.576l-.848.848L15.65 12l-8.575 8.576.848.848L17.35 12 7.924 2.576z" fill="#495057"></path>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            </th:block>
                            <th:block  th:unless="${carDTO != null and carDTO.carStatus.name() == 'ACTIVE'}">
                            <div class="SimplePayCard_container VehicleRegistration" data-target="modal1" onclick="modalOpen('carRegister')">
                                <div class="SimplePayCard_empty">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon SimplePayCard_addIcon" style="height: 24px; width: 24px;">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.4 12C1.4 6.146 6.146 1.4 12 1.4c5.854 0 10.6 4.746 10.6 10.6 0 5.854-4.746 10.6-10.6 10.6-5.854 0-10.6-4.746-10.6-10.6zm10 6v-5.4H6v-1.2h5.4V6h1.2v5.4H18v1.2h-5.4V18h-1.2z" fill="#495057"></path>
                                    </svg>
                                    <div class="SimplePayCard_description">빠르게 차량 등록하세요!</div>
                                </div>
                            </div>
                            </th:block>
                        </div>
                        <div color="basic" class="MessageBox_messageBox MessageBox_basic MessageBox_vertical MessageBox_noTitle">
                            <div class="MessageBox_header">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon MessageBox_icon">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.4 12C1.4 6.146 6.146 1.4 12 1.4c5.854 0 10.6 4.746 10.6 10.6 0 5.854-4.746 10.6-10.6 10.6-5.854 0-10.6-4.746-10.6-10.6zM13 7a1 1 0 10-2 0 1 1 0 002 0zm-1.6 3v8h1.2v-8h-1.2z" fill="#495057"></path>
                                </svg>
                            </div>
                            <div class="MessageBox_content">
                                <ul>
                                    <li>GG#에서는 차량 정보를 저장하지 않으니 안심하세요.</li>
                                    <li>차량 등록은 1개만 가능해요.</li>
                                    <li>차량 변경을 원한다면, 기존 등록되었던 차량 정보를 삭제하고 다시 등록해 주세요.</li>
                                    <li>차량 번호를 변경하더라도 변경 전 거래 정보는 변경되지 않아요.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
<!--    <div class="ReactModalPortal">-->
<!--        <div id="modal1" class="ConfirmModal_overlay waffle__modal__overlay " style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--            <div class="ConfirmModal_confirmModal-6 ConfirmModal_sizeSheet ConfirmModal_contentAfterOpen" tabindex="-1" role="dialog" aria-modal="true" style="padding-bottom: 0px;">-->
<!--                <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_closeIconRoot">-->
<!--                        <button aria-label="모달 닫기" class="Button_button Button_text Button_md closemodal VehicleRegistration" data-target="modal2" type="button">-->
<!--                            <span><span>-->
<!--                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon" style="height: 24px; width: 24px;">-->
<!--                                    <path d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z" fill="#495057"></path>-->
<!--                                </svg>-->
<!--                            </span></span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="ConfirmModal_title">차량 등록하기</div>-->
<!--                </div>-->
<!--                <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="CardRegistrationModal_container">-->
<!--                        <div class="CardInfoForm_container">-->
<!--                            <div class="CardInfoForm_section__zvoOm">-->
<!--                                <div class="CardInfoForm_title">차량 번호</div>-->
<!--                                <div>-->
<!--                                    <div class="CardInfoForm_cardInputs__GrNUI"><input autocomplete="off" inputmode="numeric" maxlength="8" placeholder="OOO가 OOOO" plname="cardNum1" type="text" class="Input_input Input_md CardInfoForm_cardInput" aria-invalid="false" value="">-->
<!--                                    </div>-->
<!--                                    <input hidden="" name="cardNum2" readonly="" value="" style="visibility: hidden; position: absolute;">-->
<!--                                    <input hidden="" name="cardNum3" readonly="" value="" style="visibility: hidden; position: absolute;">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="CardInfoForm_expirationWrap">-->
<!--                                <div class="CardInfoForm_expiration">-->
<!--                                    <div class="CardInfoForm_section__zvoOm">-->
<!--                                        <div class="CardInfoForm_title">소유주명</div>-->
<!--                                        <div>-->
<!--                                            <input autocomplete="off" name="cardExp" inputmode="numeric" maxlength="5" type="text" class="Input_input Input_md" aria-invalid="false" value="">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="CardInfoForm_section__zvoOm">-->
<!--                                <div class="CardInfoForm_title">생년월일</div>-->
<!--                                <div>-->
<!--                                    <input autocomplete="off" inputmode="numeric" maxlength="10" name="buyerAuthNum" placeholder="주민번호 앞 6자리" type="text" class="Input_input Input_md" aria-invalid="false" value="">-->
<!--                                    <div class="CardInfoForm_description">무기명 법인카드는 사업자등록번호 10자리를 입력하세요.</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <div color="basic" class="MessageBox_messageBox MessageBox_basic MessageBox_noTitle">-->
<!--                                    <div class="MessageBox_header">-->
<!--                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon MessageBox_icon">-->
<!--                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.4 12C1.4 6.146 6.146 1.4 12 1.4c5.854 0 10.6 4.746 10.6 10.6 0 5.854-4.746 10.6-10.6 10.6-5.854 0-10.6-4.746-10.6-10.6zM13 7a1 1 0 10-2 0 1 1 0 002 0zm-1.6 3v8h1.2v-8h-1.2z" fill="#495057"></path>-->
<!--                                        </svg>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; <div class="MessageBox_content">카드사에서 제공하는 암호화된 정보만 저장하기 때문에 카드번호를 저장하지 않아요.</div> : 이건 뭐지 &ndash;&gt;-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <input name="isValidForm" type="hidden" value="false">-->
<!--                        </div>-->
<!--                        <div class="CardRegistrationModal_portal">-->
<!--                            <div></div>-->
<!--                            <div class="CardRegistrationModal_portalContent"></div>-->
<!--                        </div>-->
<!--                        <div class="CardRegistrationModal_buttonWrapper">-->
<!--                            <button class="Button_button Button_mint Button_contained Button_md Button_block Button_disabled okayButton" disabled="" type="button">-->
<!--                                <span><span>등록하기</span></span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="modal2" class="ConfirmModal_overlay waffle__modal__overlay "-->
<!--            style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--            <div class="ConfirmModal_confirmModal-6 ConfirmModal_sizeSm-e ConfirmModal_contentAfterOpen" tabindex="-1"-->
<!--                role="dialog" aria-modal="true">-->
<!--                <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_closeIconRoot"><button aria-label="모달 닫기"-->
<!--                            class="Button_button Button_text Button_md  closebutton" type="button"><span><span><svg-->
<!--                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24"-->
<!--                                        class="WithProps_icon " style="height: 24px; width: 24px;">-->
<!--                                        <path-->
<!--                                            d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z"-->
<!--                                            fill="#495057"></path>-->
<!--                                    </svg></span></span></button></div>-->
<!--                    <div class="ConfirmModal_title">차량 등록을 취소하겠습니까?</div>-->
<!--                </div>-->
<!--                <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_message">차량 등록을 이용하시려면 처음부터 다시 차량 등록해야 합니다.</div>-->
<!--                </div>-->
<!--                <div class="ConfirmModal_footer" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_buttonGroup"><button-->
<!--                            class="Button_button Button_lg ConfirmModal_negativeButton closebutton"-->
<!--                            type="button"><span><span>취소</span></span></button><button-->
<!--                            class="Button_button Button_mint Button_contained Button_lg  ButtonNickName"-->
<!--                            type="button"><span><span>확인</span></span></button></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="modal5" class="ConfirmModal_overlay waffle__modal__overlay "-->
<!--            style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--            <div class="ConfirmModal_confirmModal-6 ConfirmModal_sizeSm-e ConfirmModal_contentAfterOpen" tabindex="-1"-->
<!--                role="dialog" aria-modal="true" data-target="modal2">-->
<!--                <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_closeIconRoot"><button aria-label="모달 닫기"-->
<!--                            class="Button_button Button_text Button_md  closebutton" type="button"><span><span><svg-->
<!--                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24"-->
<!--                                        class="WithProps_icon " style="height: 24px; width: 24px;">-->
<!--                                        <path-->
<!--                                            d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z"-->
<!--                                            fill="#495057"></path>-->
<!--                                    </svg></span></span></button></div>-->
<!--                    <div class="ConfirmModal_title">차량 변경을 취소하겠습니까?</div>-->
<!--                </div>-->
<!--                <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_message">차량 변경을 이용하시려면 처음부터 다시 차량 등록해야 합니다.</div>-->
<!--                </div>-->
<!--                <div class="ConfirmModal_footer" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_buttonGroup"><button-->
<!--                            class="Button_button Button_lg ConfirmModal_negativeButton closebutton"-->
<!--                            type="button"><span><span>취소</span></span></button><button-->
<!--                            class="Button_button Button_mint Button_contained Button_lg  ButtonNickName"-->
<!--                            type="button"><span><span>확인</span></span></button></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="modal3" class="ConfirmModal_overlay waffle__modal__overlay "-->
<!--            style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--            <div class="ConfirmModal_confirmModal-6 ConfirmModal_sizeSm-e ConfirmModal_contentAfterOpen" tabindex="-1"-->
<!--                role="dialog" aria-modal="true">-->
<!--                <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_closeIconRoot"><button aria-label="모달 닫기"-->
<!--                            class="Button_button Button_text Button_md closebutton" type="button"><span><span><svg-->
<!--                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24"-->
<!--                                        class="WithProps_icon" style="height: 24px; width: 24px;">-->
<!--                                        <path-->
<!--                                            d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z"-->
<!--                                            fill="#495057"></path>-->
<!--                                    </svg></span></span></button></div>-->
<!--                    <div class="ConfirmModal_title">결제 정보를 삭제하시겠어요?</div>-->
<!--                </div>-->
<!--                <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_message">결제 정보를 삭제해도 결제 예약 상태인 프로젝트의 결제 정보는 유지돼요.<br>변경 및 삭제를 원하다면-->
<!--                        참여 내역에서 변경해 주세요.</div>-->
<!--                </div>-->
<!--                <div class="ConfirmModal_footer" style="padding-left: 24px; padding-right: 24px;">-->
<!--                    <div class="ConfirmModal_buttonGroup"><button-->
<!--                            class="Button_button Button_lg ConfirmModal_negativeButton closebutton"-->
<!--                            type="button"><span><span>취소</span></span></button><button-->
<!--                            class="Button_button Button_mint Button_contained Button_lg deletOkayButton"-->
<!--                            type="button"><span><span>확인</span></span></button></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="modal4" class="ConfirmModal_overlay waffle__modal__overlay " style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--        <div class="ConfirmModal_confirmModal-6 ConfirmModal_sizeSheet ConfirmModal_contentAfterOpen" tabindex="-1"-->
<!--            role="dialog" aria-modal="true" style="padding-bottom: 0px;">-->
<!--            <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">-->
<!--                <div class="ConfirmModal_closeIconRoot"><button aria-label="모달 닫기"-->
<!--                        class="Button_button Button_text Button_md  Vehiclechange closebutton1" data-target="modal5"-->
<!--                        type="button"><span><span><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24"-->
<!--                                    class="WithProps_icon" style="height: 24px; width: 24px;">-->
<!--                                    <path-->
<!--                                        d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z"-->
<!--                                        fill="#495057"></path>-->
<!--                                </svg></span></span></button></div>-->
<!--                <div class="ConfirmModal_title">차량 변경하기</div>-->
<!--            </div>-->
<!--            <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">-->
<!--                <div class="CardRegistrationModal_container">-->
<!--                    <div class="CardInfoForm_container">-->
<!--                        <div class="CardInfoForm_section__zvoOm">-->
<!--                            <div class="CardInfoForm_title">차량 번호</div>-->
<!--                            <div>-->
<!--                                <div class="CardInfoForm_cardInputs__GrNUI"><input autocomplete="off"-->
<!--                                        inputmode="numeric" maxlength="8" placeholder="OOO가 OOOO" plname="cardNum1"-->
<!--                                        type="text" class="Input_input Input_md CardInfoForm_cardInput"-->
<!--                                        aria-invalid="false" value="">-->
<!--                                </div>-->
<!--                                <input hidden="" name="cardNum2" readonly="" value=""-->
<!--                                    style="visibility: hidden; position: absolute;"><input hidden="" name="cardNum3"-->
<!--                                    readonly="" value="" style="visibility: hidden; position: absolute;">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="CardInfoForm_expirationWrap">-->
<!--                            <div class="CardInfoForm_expiration">-->
<!--                                <div class="CardInfoForm_section__zvoOm">-->
<!--                                    <div class="CardInfoForm_title">소유주명</div>-->
<!--                                    <div><input autocomplete="off" name="cardExp" inputmode="numeric" maxlength="5"-->
<!--                                            type="text" class="Input_input Input_md" aria-invalid="false" value="">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="CardInfoForm_section__zvoOm">-->
<!--                            <div class="CardInfoForm_title">생년월일</div>-->
<!--                            <div><input autocomplete="off" inputmode="numeric" maxlength="10" name="buyerAuthNum"-->
<!--                                    placeholder="주민번호 앞 6자리" type="text" class="Input_input Input_md"-->
<!--                                    aria-invalid="false" value="">-->
<!--                                <div class="CardInfoForm_description">무기명 법인카드는 사업자등록번호 10자리를 입력하세요.</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <div color="basic" class="MessageBox_messageBox MessageBox_basic MessageBox_noTitle">-->
<!--                                <div class="MessageBox_header"><svg viewBox="0 0 24 24"-->
<!--                                        xmlns="http://www.w3.org/2000/svg" class="WithProps_icon MessageBox_icon">-->
<!--                                        <path fill-rule="evenodd" clip-rule="evenodd"-->
<!--                                            d="M1.4 12C1.4 6.146 6.146 1.4 12 1.4c5.854 0 10.6 4.746 10.6 10.6 0 5.854-4.746 10.6-10.6 10.6-5.854 0-10.6-4.746-10.6-10.6zM13 7a1 1 0 10-2 0 1 1 0 002 0zm-1.6 3v8h1.2v-8h-1.2z"-->
<!--                                            fill="#495057"></path>-->
<!--                                    </svg></div>-->
<!--                                <div class="MessageBox_content">카드사에서 제공하는 암호화된 정보만 저장하기 때문에 카드번호를 저장하지 않아요.-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div><input name="isValidForm" type="hidden" value="false">-->
<!--                    </div>-->
<!--                    <div class="CardRegistrationModal_portal">-->
<!--                        <div></div>-->
<!--                        <div class="CardRegistrationModal_portalContent"></div>-->
<!--                    </div>-->
<!--                    <div class="CardRegistrationModal_buttonWrapper"><button-->
<!--                            class="Button_button Button_mint Button_contained Button_md Button_block Button_disabled changeButton"-->
<!--                            disabled="" type="button"><span><span>등록하기</span></span></button></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--  모달 분리(차 등록 모달)   -->
<div id="carRegister" class="modal bottomSheet">
    <div class="Modal_overlay">
        <div class="ConfirmModal_confirmModal-6 ConfirmModal_sizeSheet ConfirmModal_contentAfterOpen" tabindex="-1"
             role="dialog" aria-modal="true" style="padding-bottom: 0px;">
            <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">
                <div class="ConfirmModal_closeIconRoot">
                    <button aria-label="모달 닫기" class="Button_button Button_text Button_md  Vehiclechange closebutton1" data-target="modal5" type="button" onclick="onlyClose('carRegister')">
                        <span><span>
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon" style="height: 24px; width: 24px;">
                                <path d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z" fill="#495057"></path>
                            </svg>
                        </span></span>
                    </button>
                </div>
                <div class="ConfirmModal_title">차량 변경하기</div>
            </div>
            <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">
                <div class="CardRegistrationModal_container">
                    <div class="CardInfoForm_container">
                        <div class="CardInfoForm_section__zvoOm">
                            <div class="CardInfoForm_title">차량 번호</div>
                            <div>
                                <div class="CardInfoForm_cardInputs__GrNUI">
                                    <input autocomplete="off" inputmode="numeric" maxlength="8" placeholder="OOO가 OOOO" plname="cardNum1" type="text" class="Input_input Input_md CardInfoForm_cardInput" aria-invalid="false" value="">
                                </div>
                                <input hidden="" name="cardNum2" readonly="" value="" style="visibility: hidden; position: absolute;">
                                <input hidden="" name="cardNum3" readonly="" value="" style="visibility: hidden; position: absolute;">
                            </div>
                        </div>
                        <div class="CardInfoForm_expirationWrap">
                            <div class="CardInfoForm_expiration">
                                <div class="CardInfoForm_section__zvoOm">
                                    <div class="CardInfoForm_title">소유주명</div>
                                    <div>
                                        <input autocomplete="off" name="register" inputmode="numeric" maxlength="5" type="text" class="Input_input Input_md" aria-invalid="false" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="CardInfoForm_section__zvoOm">-->
<!--                            <div class="CardInfoForm_title">생년월일</div>-->
<!--                            <div>-->
<!--                                <input autocomplete="off" inputmode="numeric" maxlength="10" name="buyerAuthNum" placeholder="주민번호 앞 6자리" type="text" class="Input_input Input_md" aria-invalid="false" value="">-->
<!--                                <div class="CardInfoForm_description">무기명 법인카드는 사업자등록번호 10자리를 입력하세요.</div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div>
                            <div color="basic" class="MessageBox_messageBox MessageBox_basic MessageBox_noTitle">
                                <div class="MessageBox_header">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon MessageBox_icon">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.4 12C1.4 6.146 6.146 1.4 12 1.4c5.854 0 10.6 4.746 10.6 10.6 0 5.854-4.746 10.6-10.6 10.6-5.854 0-10.6-4.746-10.6-10.6zM13 7a1 1 0 10-2 0 1 1 0 002 0zm-1.6 3v8h1.2v-8h-1.2z" fill="#495057"></path>
                                    </svg>
                                </div>
                                <div class="MessageBox_content">카드사에서 제공하는 암호화된 정보만 저장하기 때문에 카드번호를 저장하지 않아요.</div>
                            </div>
                        </div><input name="isValidForm" type="hidden" value="false">
                    </div>
                    <div class="CardRegistrationModal_portal">
                        <div></div>
                        <div class="CardRegistrationModal_portalContent"></div>
                    </div>
                    <div class="CardRegistrationModal_buttonWrapper">
                        <button class="Button_button Button_mint Button_contained Button_md Button_block Button_disabled registerButton" disabled="" type="button"><span><span>등록하기</span></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    -->

<!--  모달 분리(차 수정 모달)   -->
<div id="carChange" class="modal bottomSheet">
    <div class="Modal_overlay">
        <div class="ConfirmModal_confirmModal-6 ConfirmModal_sizeSheet ConfirmModal_contentAfterOpen" tabindex="-1"
             role="dialog" aria-modal="true" style="padding-bottom: 0px;">
            <div class="ConfirmModal_header" style="padding-left: 24px; padding-right: 24px;">
                <div class="ConfirmModal_closeIconRoot">
                    <button aria-label="모달 닫기" class="Button_button Button_text Button_md  Vehiclechange closebutton1" data-target="modal5" type="button" onclick="onlyClose('carChange')">
                        <span><span>
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps_icon" style="height: 24px; width: 24px;">
                                <path d="M12 11.152L4.424 3.576l-.849.848L11.151 12l-7.576 7.576.849.848L12 12.85l7.576 7.575.848-.848L12.848 12l7.576-7.576-.848-.848L12 11.15z" fill="#495057"></path>
                            </svg>
                        </span></span>
                    </button>
                </div>
                <div class="ConfirmModal_title">차량 변경하기</div>
            </div>
            <div class="ConfirmModal_content undefined" style="padding-left: 24px; padding-right: 24px;">
                <div class="CardRegistrationModal_container">
                    <div class="CardInfoForm_container">
                        <div class="CardInfoForm_section__zvoOm">
                            <div class="CardInfoForm_title">차량 번호</div>
                            <div>
                                <div class="CardInfoForm_cardInputs__GrNUI">
                                    <input autocomplete="off" inputmode="numeric" maxlength="8" placeholder="차량 번호를 입력해주세요." plname="cardNum1" type="text" class="Input_input Input_md CardInfoForm_cardInput" aria-invalid="false"  th:value="${carDTO?.carPlateNumber}">
                                </div>
                                <input hidden="" name="cardNum2" readonly="" value="" style="visibility: hidden; position: absolute;">
                                <input hidden="" name="cardNum3" readonly="" value="" style="visibility: hidden; position: absolute;">
                            </div>
                        </div>
                        <div class="CardInfoForm_expirationWrap">
                            <div class="CardInfoForm_expiration">
                                <div class="CardInfoForm_section__zvoOm">
                                    <div class="CardInfoForm_title">소유주명</div>
                                    <div>
                                        <input autocomplete="off" name="change" inputmode="numeric" maxlength="5" type="text" class="Input_input Input_md" aria-invalid="false" value="">
                                    </div>
                                </div>
                            </div>1
                        </div>
<!--                        <div class="CardInfoForm_section__zvoOm">-->
<!--                            <div class="CardInfoForm_title">생년월일</div>-->
<!--                            <div>-->
<!--                                <input autocomplete="off" inputmode="numeric" maxlength="10" name="buyerAuthNum" placeholder="주민번호 앞 6자리" type="text" class="Input_input Input_md" aria-invalid="false" value="">-->
<!--                                <div class="CardInfoForm_description">무기명 법인카드는 사업자등록번호 10자리를 입력하세요.</div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div>
                            <div color="basic" class="MessageBox_messageBox MessageBox_basic MessageBox_noTitle">
                                <div class="MessageBox_header">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="WithProps_icon MessageBox_icon">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.4 12C1.4 6.146 6.146 1.4 12 1.4c5.854 0 10.6 4.746 10.6 10.6 0 5.854-4.746 10.6-10.6 10.6-5.854 0-10.6-4.746-10.6-10.6zM13 7a1 1 0 10-2 0 1 1 0 002 0zm-1.6 3v8h1.2v-8h-1.2z" fill="#495057"></path>
                                    </svg>
                                </div>
<!--                                <div class="MessageBox_content">카드사에서 제공하는 암호화된 정보만 저장하기 때문에 카드번호를 저장하지 않아요.</div>-->
                            </div>
                        </div><input name="isValidForm" type="hidden" value="false">
                    </div>
                    <div class="CardRegistrationModal_portal">
                        <div></div>
                        <div class="CardRegistrationModal_portalContent"></div>
                    </div>
                    <div class="CardRegistrationModal_buttonWrapper">
                        <button class="Button_button Button_mint Button_contained Button_md Button_block Button_disabled changeButton" disabled="" type="button"><span><span>등록하기</span></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script th:inline="javascript">
    const dbPlateNumber = /*[[${carDTO != null ? carDTO.carPlateNumber : null}]]*/ null;
    const loggedInMemberId = /*[[${session.memberId}]]*/ null;
</script>
<!--<script src="/js/carSettings/carSettings.js"></script>-->
<script src="/js/modals/modal-m.js"></script>
<script src="/js/carSettings/service.js"></script>
<script src="/js/carSettings/layout.js"></script>
<script src="/js/carSettings/event.js"></script>


</html>